In [46]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("data.csv")

In [9]:
data.shape

(28474, 16)

In [10]:
data.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [11]:
data.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,23920.000000,17465.000000,25011.000000,24966.000000,24330.000000,18335.000000,26452.000000,24674.000000,24526.000000,22964.000000,20635.000000,11239.000000,23894.000000
mean,69.095223,121.578966,17.857667,28.959424,32.737994,23.894052,2.306848,14.758950,34.519763,3.310998,8.918763,3.063745,170.145811
std,65.389862,90.987310,22.585057,24.655411,31.809871,26.087108,7.088831,18.442412,21.763107,16.001572,20.241362,6.356428,142.084468
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,29.937500,59.900000,5.760000,11.982500,12.900000,8.710000,0.520000,5.640000,18.872500,0.150000,0.710000,0.140000,83.000000
50%,50.215000,98.820000,10.080000,22.110000,23.910000,16.170000,0.905000,9.220000,30.835000,1.120000,3.100000,0.980000,121.000000
75%,82.557500,152.970000,20.450000,38.050000,40.807500,30.445000,1.470000,15.560000,45.540000,3.160000,9.360000,3.340000,215.000000
max,949.990000,1000.000000,351.300000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [12]:
data.isnull().sum()

City              0
Date              0
PM2.5          4554
PM10          11009
NO             3463
NO2            3508
NOx            4144
NH3           10139
CO             2022
SO2            3800
O3             3948
Benzene        5510
Toluene        7839
Xylene        17235
AQI            4580
AQI_Bucket     4580
dtype: int64

In [13]:
data.drop(["City"],axis=1,inplace=True)

In [14]:
data.drop(["Date"],axis=1,inplace=True)

In [15]:
data.drop(["NO"],axis=1,inplace=True)

In [16]:
data.drop(["NOx"],axis=1,inplace=True)

In [17]:
data.drop(["Benzene"],axis=1,inplace=True)

In [18]:
data.drop(["Toluene"],axis=1,inplace=True)

In [19]:
data.drop(["Xylene"],axis=1,inplace=True)

In [20]:
data.drop(["AQI_Bucket"],axis=1,inplace=True)

In [21]:
data.head()

   PM2.5  PM10    NO2  NH3     CO    SO2      O3  AQI
0    NaN   NaN  18.22  NaN   0.92  27.64  133.36  NaN
1    NaN   NaN  15.69  NaN   0.97  24.55   34.06  NaN
2    NaN   NaN  19.30  NaN  17.40  29.07   30.70  NaN
3    NaN   NaN  18.48  NaN   1.70  18.59   36.08  NaN
4    NaN   NaN  21.42  NaN  22.10  39.33   39.31  NaN

In [22]:
data.isnull().sum()

PM2.5     4554
PM10     11009
NO2       3508
NH3      10139
CO        2022
SO2       3800
O3        3948
AQI       4580
dtype: int64

In [23]:
data = data[data['AQI'].notna()]

In [24]:
data.isnull().sum()

PM2.5     675
PM10     6994
NO2       359
NH3      6411
CO        442
SO2       588
O3        770
AQI         0
dtype: int64

In [25]:
data = data.fillna(data.mean())

In [26]:
data.isnull().sum()

PM2.5    0
PM10     0
NO2      0
NH3      0
CO       0
SO2      0
O3       0
AQI      0
dtype: int64

In [27]:
data.dtypes

PM2.5    float64
PM10     float64
NO2      float64
NH3      float64
CO       float64
SO2      float64
O3       float64
AQI      float64
dtype: object

In [28]:
from sklearn.utils import shuffle

In [29]:
data = shuffle(data, random_state=0)
data = data.reset_index(drop=True)

In [30]:
y = data["AQI"]
y.head()

0    275.0
1    214.0
2     90.0
3     97.0
4    276.0
Name: AQI, dtype: float64

In [31]:
x = data
x.head()

    PM2.5       PM10    NO2        NH3    CO    SO2     O3    AQI
0  123.46  194.76000  44.28  39.190000  1.22  15.38  28.15  275.0
1   86.62  121.91451   7.69  24.288205  1.10  42.66  47.42  214.0
2   24.22   79.10000  30.02  24.288205  1.36  21.32  39.09   90.0
3   51.28  121.91451  14.26  24.288205  1.15   4.08  17.81   97.0
4  121.12  121.91451   5.85  24.288205  0.81   9.51  36.44  276.0

In [32]:
x.drop(["AQI"],axis=1,inplace=True)

In [33]:
x.head()

    PM2.5       PM10    NO2        NH3    CO    SO2     O3
0  123.46  194.76000  44.28  39.190000  1.22  15.38  28.15
1   86.62  121.91451   7.69  24.288205  1.10  42.66  47.42
2   24.22   79.10000  30.02  24.288205  1.36  21.32  39.09
3   51.28  121.91451  14.26  24.288205  1.15   4.08  17.81
4  121.12  121.91451   5.85  24.288205  0.81   9.51  36.44

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
scaler = StandardScaler()
print(scaler.fit(data))

StandardScaler()

In [36]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [37]:
# from sklearn.linear_model import LinearRegression

In [38]:
# model = LinearRegression()

In [39]:
# model.fit(X_train, y_train)

In [40]:
# model.score(X_test, y_test) * 100

In [41]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [42]:
#make the model
nuralNetworkModel = Sequential()

# The Input Layer :
nuralNetworkModel.add(Dense(128, kernel_initializer='normal',input_dim = X_train.shape[1], activation='relu'))

# The Hidden Layers :
nuralNetworkModel.add(Dense(256, kernel_initializer='normal',activation='relu'))
nuralNetworkModel.add(Dense(256, kernel_initializer='normal',activation='relu'))
nuralNetworkModel.add(Dense(256, kernel_initializer='normal',activation='relu'))
nuralNetworkModel.add(Dense(256, kernel_initializer='normal',activation='relu'))
nuralNetworkModel.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
nuralNetworkModel.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
nuralNetworkModel.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
nuralNetworkModel.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               1024
_________________________________________________________________
dense_2 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_3 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_4 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_6 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 257
=================================================================
Total params: 297,473
Trainable params: 297,473
Non-trainable params: 0
_________________________________________________________________

In [43]:
nuralNetworkModel.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Train on 12807 samples, validate on 6308 samples
Epoch 1/100
12807/12807 [==============================] - 4s 316us/step - loss: 36.3097 - mean_absolute_error: 36.3097 - val_loss: 29.7069 - val_mean_absolute_error: 29.7069
Epoch 2/100
12807/12807 [==============================] - 4s 283us/step - loss: 31.4194 - mean_absolute_error: 31.4195 - val_loss: 31.8805 - val_mean_absolute_error: 31.8805
Epoch 3/100
12807/12807 [==============================] - 4s 331us/step - loss: 30.7659 - mean_absolute_error: 30.7659 - val_loss: 29.6581 - val_mean_absolute_error: 29.6581
Epoch 4/100
12807/12807 [==============================] - 3s 248us/step - loss: 30.0532 - mean_absolute_error: 30.0532 - val_loss: 35.2518 - val_mean_absolute_error: 35.2518
Epoch 5/100
12807/12807 [==============================] - 4s 316us/step - loss: 29.6495 - mean_absolute_error: 29.6495 - val_loss: 29.0591 - val_mean_absolute_error: 29.0591
Epoch 6/100
12807/12807 [==============================] - 4s 318us/step - loss: 28.8301 - mean_absolute_error: 28.8301 - val_loss: 27.3048 - val_mean_absolute_error: 27.3048
Epoch 7/100
12807/12807 [==============================] - 3s 263us/step - loss: 28.5877 - mean_absolute_error: 28.5877 - val_loss: 27.4053 - val_mean_absolute_error: 27.4053
Epoch 8/100
12807/12807 [==============================] - 4s 279us/step - loss: 28.4832 - mean_absolute_error: 28.4832 - val_loss: 27.0480 - val_mean_absolute_error: 27.0480
Epoch 9/100
12807/12807 [==============================] - 3s 264us/step - loss: 27.9471 - mean_absolute_error: 27.9471 - val_loss: 29.0285 - val_mean_absolute_error: 29.0285
Epoch 10/100
12807/12807 [==============================] - 4s 302us/step - loss: 28.4125 - mean_absolute_error: 28.4125 - val_loss: 27.4803 - val_mean_absolute_error: 27.4803
Epoch 11/100
12807/12807 [==============================] - 3s 249us/step - loss: 27.6229 - mean_absolute_error: 27.6228 - val_loss: 27.6687 - val_mean_absolute_error: 27.6687
Epoch 12/100
12807/12807 [==============================] - 4s 278us/step - loss: 27.7968 - mean_absolute_error: 27.7968 - val_loss: 32.8968 - val_mean_absolute_error: 32.8968
Epoch 13/100
12807/12807 [==============================] - 4s 319us/step - loss: 27.9320 - mean_absolute_error: 27.9320 - val_loss: 27.0445 - val_mean_absolute_error: 27.0445
Epoch 14/100
12807/12807 [==============================] - 5s 378us/step - loss: 27.5148 - mean_absolute_error: 27.5148 - val_loss: 27.8323 - val_mean_absolute_error: 27.8323
Epoch 15/100
12807/12807 [==============================] - 5s 400us/step - loss: 27.6861 - mean_absolute_error: 27.6862 - val_loss: 28.7737 - val_mean_absolute_error: 28.7737
Epoch 16/100
12807/12807 [==============================] - 4s 336us/step - loss: 27.3739 - mean_absolute_error: 27.3739 - val_loss: 26.7811 - val_mean_absolute_error: 26.7811
Epoch 17/100
12807/12807 [==============================] - 4s 345us/step - loss: 27.1904 - mean_absolute_error: 27.1904 - val_loss: 27.5910 - val_mean_absolute_error: 27.5910
Epoch 18/100
12807/12807 [==============================] - 4s 333us/step - loss: 27.2625 - mean_absolute_error: 27.2626 - val_loss: 28.8798 - val_mean_absolute_error: 28.8798
Epoch 19/100
12807/12807 [==============================] - 4s 309us/step - loss: 27.0848 - mean_absolute_error: 27.0848 - val_loss: 27.8310 - val_mean_absolute_error: 27.8310
Epoch 20/100
12807/12807 [==============================] - 5s 379us/step - loss: 26.9621 - mean_absolute_error: 26.9621 - val_loss: 26.4588 - val_mean_absolute_error: 26.4588
Epoch 21/100
12807/12807 [==============================] - 4s 302us/step - loss: 26.8780 - mean_absolute_error: 26.8780 - val_loss: 26.5003 - val_mean_absolute_error: 26.5003
Epoch 22/100
12807/12807 [==============================] - 4s 330us/step - loss: 26.8534 - mean_absolute_error: 26.8534 - val_loss: 27.7287 - val_mean_absolute_error: 27.7287
Epoch 23/100
12807/12807 [==============================] - 4s 306us/step - loss: 26.8029 - mean_absolute_error: 26.8029 - val_loss: 27.6872 - val_mean_absolute_error: 27.6872
Epoch 24/100
12807/12807 [==============================] - 4s 311us/step - loss: 26.8309 - mean_absolute_error: 26.8309 - val_loss: 27.9807 - val_mean_absolute_error: 27.9806
Epoch 25/100
12807/12807 [==============================] - 4s 324us/step - loss: 26.6083 - mean_absolute_error: 26.6083 - val_loss: 26.5418 - val_mean_absolute_error: 26.5418
Epoch 26/100
12807/12807 [==============================] - 5s 356us/step - loss: 26.4165 - mean_absolute_error: 26.4165 - val_loss: 26.3054 - val_mean_absolute_error: 26.3054
Epoch 27/100
12807/12807 [==============================] - 4s 301us/step - loss: 26.4691 - mean_absolute_error: 26.4691 - val_loss: 26.9003 - val_mean_absolute_error: 26.9003
Epoch 28/100
12807/12807 [==============================] - 4s 317us/step - loss: 26.5237 - mean_absolute_error: 26.5237 - val_loss: 26.5735 - val_mean_absolute_error: 26.5735
Epoch 29/100
12807/12807 [==============================] - 4s 321us/step - loss: 26.5596 - mean_absolute_error: 26.5596 - val_loss: 29.5936 - val_mean_absolute_error: 29.5936
Epoch 30/100
12807/12807 [==============================] - 6s 470us/step - loss: 26.2716 - mean_absolute_error: 26.2716 - val_loss: 27.9465 - val_mean_absolute_error: 27.9465
Epoch 31/100
12807/12807 [==============================] - 5s 415us/step - loss: 26.0827 - mean_absolute_error: 26.0827 - val_loss: 26.0418 - val_mean_absolute_error: 26.0417
Epoch 32/100
12807/12807 [==============================] - 4s 313us/step - loss: 26.1761 - mean_absolute_error: 26.1761 - val_loss: 25.9107 - val_mean_absolute_error: 25.9107
Epoch 33/100
12807/12807 [==============================] - 4s 329us/step - loss: 25.9720 - mean_absolute_error: 25.9720 - val_loss: 27.0579 - val_mean_absolute_error: 27.0580
Epoch 34/100
12807/12807 [==============================] - 4s 333us/step - loss: 26.0103 - mean_absolute_error: 26.0103 - val_loss: 26.7265 - val_mean_absolute_error: 26.7265
Epoch 35/100
12807/12807 [==============================] - 4s 315us/step - loss: 26.0298 - mean_absolute_error: 26.0298 - val_loss: 26.7875 - val_mean_absolute_error: 26.7875
Epoch 36/100
12807/12807 [==============================] - 4s 308us/step - loss: 26.0226 - mean_absolute_error: 26.0226 - val_loss: 26.1974 - val_mean_absolute_error: 26.1975
Epoch 37/100
12807/12807 [==============================] - 4s 323us/step - loss: 26.0864 - mean_absolute_error: 26.0864 - val_loss: 25.7822 - val_mean_absolute_error: 25.7822
Epoch 38/100
12807/12807 [==============================] - 5s 374us/step - loss: 26.1552 - mean_absolute_error: 26.1551 - val_loss: 25.8095 - val_mean_absolute_error: 25.8095
Epoch 39/100
12807/12807 [==============================] - 6s 447us/step - loss: 26.0747 - mean_absolute_error: 26.0747 - val_loss: 25.8242 - val_mean_absolute_error: 25.8242
Epoch 40/100
12807/12807 [==============================] - 5s 396us/step - loss: 25.8584 - mean_absolute_error: 25.8584 - val_loss: 26.0482 - val_mean_absolute_error: 26.0482
Epoch 41/100
12807/12807 [==============================] - 4s 314us/step - loss: 25.9766 - mean_absolute_error: 25.9766 - val_loss: 26.4276 - val_mean_absolute_error: 26.4276
Epoch 42/100
12807/12807 [==============================] - 4s 290us/step - loss: 25.9150 - mean_absolute_error: 25.9150 - val_loss: 31.9260 - val_mean_absolute_error: 31.9260
Epoch 43/100
12807/12807 [==============================] - 4s 292us/step - loss: 25.6704 - mean_absolute_error: 25.6704 - val_loss: 26.1592 - val_mean_absolute_error: 26.1592
Epoch 44/100
12807/12807 [==============================] - 4s 315us/step - loss: 25.9367 - mean_absolute_error: 25.9367 - val_loss: 28.0105 - val_mean_absolute_error: 28.0105
Epoch 45/100
12807/12807 [==============================] - 4s 298us/step - loss: 25.7225 - mean_absolute_error: 25.7226 - val_loss: 25.8777 - val_mean_absolute_error: 25.8777
Epoch 46/100
12807/12807 [==============================] - 4s 331us/step - loss: 25.8412 - mean_absolute_error: 25.8412 - val_loss: 25.8629 - val_mean_absolute_error: 25.8629
Epoch 47/100

12807/12807 [==============================] - 5s 392us/step - loss: 25.4209 - mean_absolute_error: 25.4209 - val_loss: 26.1025 - val_mean_absolute_error: 26.1025
Epoch 48/100
12807/12807 [==============================] - 5s 352us/step - loss: 25.6744 - mean_absolute_error: 25.6744 - val_loss: 26.4579 - val_mean_absolute_error: 26.4579
Epoch 49/100
12807/12807 [==============================] - 4s 321us/step - loss: 25.6156 - mean_absolute_error: 25.6156 - val_loss: 25.7429 - val_mean_absolute_error: 25.7429
Epoch 50/100
12807/12807 [==============================] - 4s 331us/step - loss: 25.5146 - mean_absolute_error: 25.5146 - val_loss: 25.5461 - val_mean_absolute_error: 25.5461
Epoch 51/100
12807/12807 [==============================] - 5s 383us/step - loss: 25.4491 - mean_absolute_error: 25.4491 - val_loss: 26.0198 - val_mean_absolute_error: 26.0198
Epoch 52/100
12807/12807 [==============================] - 4s 324us/step - loss: 25.6006 - mean_absolute_error: 25.6007 - val_loss: 26.9038 - val_mean_absolute_error: 26.9038
Epoch 53/100
12807/12807 [==============================] - 7s 552us/step - loss: 25.3540 - mean_absolute_error: 25.3540 - val_loss: 28.3087 - val_mean_absolute_error: 28.3087
Epoch 54/100
12807/12807 [==============================] - 9s 668us/step - loss: 25.5174 - mean_absolute_error: 25.5174 - val_loss: 26.4157 - val_mean_absolute_error: 26.4157
Epoch 55/100
12807/12807 [==============================] - 5s 385us/step - loss: 25.2096 - mean_absolute_error: 25.2096 - val_loss: 26.1111 - val_mean_absolute_error: 26.1111
Epoch 56/100
12807/12807 [==============================] - 5s 357us/step - loss: 25.3471 - mean_absolute_error: 25.3471 - val_loss: 26.2959 - val_mean_absolute_error: 26.2959
Epoch 57/100
12807/12807 [==============================] - 5s 360us/step - loss: 25.2529 - mean_absolute_error: 25.2528 - val_loss: 26.0924 - val_mean_absolute_error: 26.0924
Epoch 58/100
12807/12807 [==============================] - 4s 342us/step - loss: 25.2997 - mean_absolute_error: 25.2997 - val_loss: 26.3124 - val_mean_absolute_error: 26.3124
Epoch 59/100
12807/12807 [==============================] - 5s 366us/step - loss: 25.1358 - mean_absolute_error: 25.1358 - val_loss: 25.7771 - val_mean_absolute_error: 25.7771
Epoch 60/100
12807/12807 [==============================] - 5s 378us/step - loss: 25.2119 - mean_absolute_error: 25.2119 - val_loss: 25.7478 - val_mean_absolute_error: 25.7478
Epoch 61/100
12807/12807 [==============================] - 5s 415us/step - loss: 25.0794 - mean_absolute_error: 25.0794 - val_loss: 25.9222 - val_mean_absolute_error: 25.9222
Epoch 62/100
12807/12807 [==============================] - 5s 404us/step - loss: 24.8870 - mean_absolute_error: 24.8870 - val_loss: 25.5870 - val_mean_absolute_error: 25.5870
Epoch 63/100
12807/12807 [==============================] - 5s 382us/step - loss: 24.9319 - mean_absolute_error: 24.9319 - val_loss: 26.4752 - val_mean_absolute_error: 26.4752
Epoch 64/100
12807/12807 [==============================] - 5s 365us/step - loss: 24.9783 - mean_absolute_error: 24.9783 - val_loss: 25.8003 - val_mean_absolute_error: 25.8003
Epoch 65/100
12807/12807 [==============================] - 4s 341us/step - loss: 24.8261 - mean_absolute_error: 24.8261 - val_loss: 26.2243 - val_mean_absolute_error: 26.2243
Epoch 66/100
12807/12807 [==============================] - 5s 371us/step - loss: 24.6794 - mean_absolute_error: 24.6794 - val_loss: 25.4178 - val_mean_absolute_error: 25.4178
Epoch 67/100
12807/12807 [==============================] - 5s 413us/step - loss: 24.8578 - mean_absolute_error: 24.8578 - val_loss: 25.5885 - val_mean_absolute_error: 25.5885
Epoch 68/100
12807/12807 [==============================] - 5s 372us/step - loss: 24.7724 - mean_absolute_error: 24.7724 - val_loss: 25.7429 - val_mean_absolute_error: 25.7429
Epoch 69/100
12807/12807 [==============================] - 5s 370us/step - loss: 24.5247 - mean_absolute_error: 24.5246 - val_loss: 25.7224 - val_mean_absolute_error: 25.7224
Epoch 70/100
12807/12807 [==============================] - 5s 395us/step - loss: 24.4941 - mean_absolute_error: 24.4941 - val_loss: 27.3311 - val_mean_absolute_error: 27.3311
Epoch 71/100
12807/12807 [==============================] - 5s 354us/step - loss: 24.4208 - mean_absolute_error: 24.4207 - val_loss: 26.3241 - val_mean_absolute_error: 26.3241
Epoch 72/100
12807/12807 [==============================] - 4s 343us/step - loss: 24.2935 - mean_absolute_error: 24.2935 - val_loss: 24.7195 - val_mean_absolute_error: 24.7195
Epoch 73/100
12807/12807 [==============================] - 4s 332us/step - loss: 24.1767 - mean_absolute_error: 24.1767 - val_loss: 25.6206 - val_mean_absolute_error: 25.6206
Epoch 74/100
12807/12807 [==============================] - 4s 326us/step - loss: 24.0770 - mean_absolute_error: 24.0769 - val_loss: 25.7535 - val_mean_absolute_error: 25.7535
Epoch 75/100
12807/12807 [==============================] - 4s 286us/step - loss: 24.1693 - mean_absolute_error: 24.1694 - val_loss: 25.7608 - val_mean_absolute_error: 25.7608
Epoch 76/100
12807/12807 [==============================] - 4s 304us/step - loss: 23.8167 - mean_absolute_error: 23.8167 - val_loss: 24.2865 - val_mean_absolute_error: 24.2865
Epoch 77/100
12807/12807 [==============================] - 4s 331us/step - loss: 23.9042 - mean_absolute_error: 23.9042 - val_loss: 24.3903 - val_mean_absolute_error: 24.3903
Epoch 78/100
12807/12807 [==============================] - 4s 320us/step - loss: 23.8883 - mean_absolute_error: 23.8883 - val_loss: 24.5597 - val_mean_absolute_error: 24.5597
Epoch 79/100
12807/12807 [==============================] - 5s 418us/step - loss: 23.5565 - mean_absolute_error: 23.5565 - val_loss: 28.1523 - val_mean_absolute_error: 28.1523
Epoch 80/100
12807/12807 [==============================] - 3s 247us/step - loss: 23.7037 - mean_absolute_error: 23.7037 - val_loss: 25.7018 - val_mean_absolute_error: 25.7017
Epoch 81/100
12807/12807 [==============================] - 4s 335us/step - loss: 23.6084 - mean_absolute_error: 23.6084 - val_loss: 25.9590 - val_mean_absolute_error: 25.9590
Epoch 82/100
12807/12807 [==============================] - 4s 291us/step - loss: 23.6306 - mean_absolute_error: 23.6305 - val_loss: 24.4161 - val_mean_absolute_error: 24.4161
Epoch 83/100
12807/12807 [==============================] - 3s 253us/step - loss: 23.7006 - mean_absolute_error: 23.7006 - val_loss: 25.4169 - val_mean_absolute_error: 25.4168
Epoch 84/100
12807/12807 [==============================] - 3s 261us/step - loss: 23.4633 - mean_absolute_error: 23.4633 - val_loss: 27.1219 - val_mean_absolute_error: 27.1219
Epoch 85/100
12807/12807 [==============================] - 3s 256us/step - loss: 23.4908 - mean_absolute_error: 23.4908 - val_loss: 24.5658 - val_mean_absolute_error: 24.5658
Epoch 86/100
12807/12807 [==============================] - 4s 325us/step - loss: 23.3087 - mean_absolute_error: 23.3087 - val_loss: 24.3554 - val_mean_absolute_error: 24.3554
Epoch 87/100
12807/12807 [==============================] - 4s 307us/step - loss: 23.5028 - mean_absolute_error: 23.5028 - val_loss: 25.5598 - val_mean_absolute_error: 25.5598
Epoch 88/100
12807/12807 [==============================] - 4s 322us/step - loss: 23.3778 - mean_absolute_error: 23.3778 - val_loss: 24.7821 - val_mean_absolute_error: 24.7821
Epoch 89/100
12807/12807 [==============================] - 3s 273us/step - loss: 23.4157 - mean_absolute_error: 23.4157 - val_loss: 25.0724 - val_mean_absolute_error: 25.0725
Epoch 90/100
12807/12807 [==============================] - 5s 374us/step - loss: 23.1671 - mean_absolute_error: 23.1671 - val_loss: 27.0525 - val_mean_absolute_error: 27.0525
Epoch 91/100
12807/12807 [==============================] - 3s 250us/step - loss: 23.2861 - mean_absolute_error: 23.2861 - val_loss: 24.1480 - val_mean_absolute_error: 24.1480
Epoch 92/100
12807/12807 [==============================] - 4s 285us/step - loss: 23.3215 - mean_absolute_error: 23.3215 - val_loss: 25.0127 - val_mean_absolute_error: 25.0127
Epoch 93/100

12807/12807 [==============================] - 4s 275us/step - loss: 23.4565 - mean_absolute_error: 23.4565 - val_loss: 24.4424 - val_mean_absolute_error: 24.4424
Epoch 94/100
12807/12807 [==============================] - 4s 326us/step - loss: 23.1969 - mean_absolute_error: 23.1969 - val_loss: 25.0514 - val_mean_absolute_error: 25.0514
Epoch 95/100
12807/12807 [==============================] - 4s 317us/step - loss: 23.1767 - mean_absolute_error: 23.1767 - val_loss: 24.4280 - val_mean_absolute_error: 24.4280
Epoch 96/100
12807/12807 [==============================] - 4s 275us/step - loss: 22.9527 - mean_absolute_error: 22.9527 - val_loss: 24.7637 - val_mean_absolute_error: 24.7637
Epoch 97/100
12807/12807 [==============================] - 3s 253us/step - loss: 23.1561 - mean_absolute_error: 23.1561 - val_loss: 24.0640 - val_mean_absolute_error: 24.0639
Epoch 98/100
12807/12807 [==============================] - 3s 246us/step - loss: 22.8953 - mean_absolute_error: 22.8953 - val_loss: 24.6451 - val_mean_absolute_error: 24.6451
Epoch 99/100
12807/12807 [==============================] - 3s 266us/step - loss: 22.9163 - mean_absolute_error: 22.9163 - val_loss: 23.6698 - val_mean_absolute_error: 23.6698
Epoch 100/100
12807/12807 [==============================] - 3s 242us/step - loss: 22.9580 - mean_absolute_error: 22.9580 - val_loss: 24.4896 - val_mean_absolute_error: 24.4896

In [44]:
predictValues = nuralNetworkModel.predict(X_test)

In [47]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictValues))
print('MSE:', metrics.mean_squared_error(y_test, predictValues))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictValues)))

MAE: 23.04690430428249
MSE: 1691.5438459661725
RMSE: 41.12838248662561